body {
  background-color: rgb(238, 247, 223);
}

h1 {
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(71, 8, 88);
}
h2 {
  text-align: center;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(55, 3, 60);
}
p1 {
  color: rgb(192, 69, 173);
  font-family: cursive;
}
